*{
  margin: 0;
  padding: 0;
}

h1{
  margin-bottom: 1em;
  text-align: right;
  width: 200px;
}

#marquee{
  position: relative;
  width: 350px;
  height: 200px;
  background-color: aquamarine;
  padding: 5px;
  overflow: hidden;
}

#marquee #scroll-area{
  position: absolute;
  top: 0;
  padding: 5px;
}


.commandbar{
  margin: 1em 0 0 0;
  text-align: center;
  width: 250px;
}